.card-container:hover {
  box-shadow: 2px 2px 5px rgb(73, 72, 72);
}
.card-container img {
  width: 35vh;
  height: 42vh;
}
@media (max-width: 676px) {
  .card-container img {
    margin: 0 auto;
    width: 50vh;
    height: 65vh;
  }
}
